.ship-piece{
    background-color: darkslateblue;
}


.ship-piece-hited{
    background-color: black;
    color: white;
}

.salvo{
    background-color: crimson;
}


.table{
    table-layout: fixed;
    background-color: #7eccd8;
}


th{
    background-color: #343a40;
    color: white;
    height: 25px;
    width: 25px;
    text-align: right;
}
td{
    height: 25px;
    width: 25px;
    background-color: #7eccd6;
}
.letra{
    background-color: #343a40;
    color: white;
    font-weight:bold;
    text-align: center;

}

#player-info{
    font-weight: bold;
}

